<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
</head>
<body>
    <form class="form" action="/text-viewer" method="POST">
        <label>URL을 입력하세요: </label>
        <input type="text" name="url" placeholder="Text URL" size="50" />
        <input type="submit" value="입력" />
    </form>
    <!-- <button onclick="location.href='/text-viewer'">Text Viewer</button> -->
</body>
</html>
