<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <script>
        const title = "<%=title%>";
        console.log(title);

        const data = <%- JSON.stringify(data) %>;

        const url = "<%=url%>";
        localStorage.setItem("NaverUrl", url);
        

        var sort = Object.values(JSON.parse(data));
        //console.log(sort);

        function textShow() {
            var element = document.getElementById("text");
            
            if(element.classList.toggle("show")){
                for(var i=0; i<sort.length; i++){
                    element.innerHTML += sort[i] + '<br/>';
                }
            } else {
                element.innerHTML = "";
            }
        }

    </script>
</head>
<body>
    <main>
        <header> <h1 class="session_title"> <%=title%></h1> </header>
        <div class="session">
            <button class="session__button" onclick="textShow()">내용</button>
            <ul class="session__ul"></ul>
            <p class="session_text" id="text"> </p>
        </div>
        <form class="form" action="/naver-viewer" method="POST">
            <button type="submit" name="next">다음</button>
            <button type="submit" name="prev">이전</button>
        </form>
    </main>
</body>
</html>
