<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <script>
        //const title = "<%=title%>";
        //console.log(Title);

        const data = <%- JSON.stringify(data) %>;

        const url = "<%=url%>";
        localStorage.setItem("URL", url);

        var sort = Object.values(JSON.parse(data));
        //console.log(sort);

        function test() {
            var element = document.getElementById("text");
            
            if(element.classList.toggle("show")){
                for(var i=0; i<sort.length; i++){
                    element.innerHTML += sort[i] + '<br/>';
                }
            } else {
                element.innerHTML = "";
            }

        }

        function next() {
            var nextPage;
        }

        function prev() {
            var prevPage;
        }
    </script>
</head>
<body>
    <main>
        <header> <h1 class="session_title"> <%=title%></h1> </header>
        <div class="session">
            <button class="session__button" onclick="test()">내용</button>
            <ul class="session__ul"></ul>
            <p class="session_text" id="text"> </p>
        </div>
        <form class="form" action="/text-viewer" method="POST">
            <button onclick="next()">다음</button>
            <button onclick="prev()">이전</button>
            <input type="button" value="입력" />
            <input type="url" />
        </form>
    </main>
</body>
</html>
