<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <script>
        const title = "<%=title%>";
        //console.log(Title);

        const data = <%- JSON.stringify(data) %>;
        var sort = Object.values(JSON.parse(data));

        //console.log(sort);

        function test() {
            for(var i=0; i<sort.length; i++){
                document.getElementById("text").innerHTML += sort[i] + '<br/>';
            }
        }
    </script>
</head>
<body>
    <main>
        <header> <h1 class="session_title"> <%=title%></h1> </header>
        <div class="session">
            <button class="session__button" onclick="test()">테스트</button>
            <ul class="session__ul"></ul>
            <p class="session_text" id="text"> </p>
        </div>
    </main>
</body>
</html>
